[mysqld]
server-id=2
log-bin=mysql-bin
binlog_expire_logs_days=99
max_binlog_size=100M
binlog-do-db=test
relay-log=slave_relay_bin
relay-log-index=slave_relay_bin.index
log_slave_updates=1
read-only=1
master-info-repository=TABLE
relay-log-info-repository=TABLE
default-authentication-plugin=mysql_native_password
